@{
    ViewData["Title"] = "Merci pour votre message";
}

<div class="alert alert-success mt-5">
    <h4>Merci pour votre message !</h4>
    <p>Nous vous répondrons dans les plus brefs délais.</p>
    <a class="btn btn-primary" href="/">Retour à l'accueil</a>
</div>
