@{
    ViewData["Title"] = "Projets accompagnés";
}

<section class="projects py-5 bg-light">
    <div class="container">
        <h1 class="text-center mb-5">Projets accompagnés</h1>

        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card h-100 shadow-sm">
                    <img src="~/images/project01.png" class="card-img-top" alt="Projet 1">
                    <div class="card-body">
                        <h5 class="card-title">Développement & Construction de 7 villas</h5>
                        <p class="card-text">Accompagnement complet d’un client pour son projet de 7 villas à proximité de Esposende.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card h-100 shadow-sm">
                    <img src="~/images/project02.png" class="card-img-top" alt="Projet 2">
                    <div class="card-body">
                        <h5 class="card-title">Développement & Construction de 10 villas</h5>
                        <p class="card-text">Accompagnement complet d’un client pour son projet de 10 villas à Albufeira.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card h-100 shadow-sm">
                    <img src="~/images/project03.png" class="card-img-top" alt="Projet 3">
                    <div class="card-body">
                        <h5 class="card-title">Développement & Construction d'une villa</h5>
                        <p class="card-text">Accompagnement complet d’un client pour son projet de reconstruction d'une ruine à Barcelos.</p>
                    </div>
                </div>
            </div>

            <!-- 🔥 Nouveau projet ajouté ici -->
            <div class="col-md-4 mb-4">
                <div class="card h-100 shadow-sm">
                    <img src="~/images/project04.png" class="card-img-top" alt="Projet 4">
                    <div class="card-body">
                        <h5 class="card-title">Projet d’immeuble multifamilial</h5>
                        <p class="card-text">Étude de faisabilité, montage financier et accompagnement d’un projet d’immeuble résidentiel à Vila do Conde.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
